
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
    flex: 50%;
    /*width: 25.00%;*/
    padding: 0 5px;
}
.img {
    float:left;
    padding:10px;
}

/*.form-checkbox {
    box-shadow: 0px 0px 5px 1px gray;
    background-color: azure;
    margin: 5px;
    padding: 10px;
}*/

.plot-box {
    /*box-shadow: 0px 0px 5px 1px gray;*/
    margin: 5px;
    padding: 10px;
}