{% extends 'base.html' %}
{% block headercontent %}
    <link href="{{ url_for('fitter.static', filename='styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('fitter.static', filename='js/script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block nav_buttons %}
	{% if user_name %}
	  <li class="nav-item active"><a class="nav-link"><font face="Courier"><small>Logged in as</small> {{user_name}}&nbsp;</font></a></li>
	  <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}"><span class="fa fa-user-o"></span> Sign Out</a></li>
	{% else %}
		<li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}"><span class="fa fa-user-o"></span> Login</a></li>
	{% endif %}
{% endblock %}

{% block content %}
<form method="POST" style='text-align: left; margin: 5px; padding: 10px 20%;'>
    {{ form.hidden_tag() }}
    <div class="form-group">
    	{{ form.seqKey.label }} {{ form.seqKey(class="form-control") }} 
		</div>

		<div id="plot-checklist">
	    {{ form.plot_list.label }}
	    <div class="form-group">
		    {% for seq in form.plot_list %} 
			    <div class="form-check form-check-inline">
				    	{{seq(class="form-check-input")}}{{seq.label(class="form-check-label")}}
			    </div>
		    {% endfor %}
	  	</div>
		</div>

    <div class="form-group">
    	{{ form.year.label }} {{ form.year(class="form-control") }} 
    </div>

    <div style="text-align: center;">
	    {{ form.submit(class_="btn btn-primary") }}
	</div>
</form>

{% if proc.is_pending() %}
	<button class="reveal btn btn-outline-dark" style="margin: 5px;" onclick="toggle_display('embed_section_id')">Hide <i class="fa fa-chevron-circle-up"></i></button>
	<div id="embed_section_id"><embed src="page" width="100%" height="300px"/></div>
{% endif %}


{% endblock %}

