{% extends 'base.html' %}
{% block headercontent %}
    <link href="{{ url_for('fitter.static', filename='styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('fitter.static', filename='js/script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block nav_buttons %}
	{% if user_name %}
	  <li class="nav-item active"><a class="nav-link"><font face="Courier"><small>Logged in as</small> {{user_name}}&nbsp;</font></a></li>
	  <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}"><span class="fa fa-user-o"></span> Sign Out</a></li>
	{% else %}
		<li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}"><span class="fa fa-user-o"></span> Login</a></li>
	{% endif %}
{% endblock %}

{% block content %}

<div class="plot-box"><button class="btn btn-secondary" id="expand-collapse">Expand all <i class="fa fa-chevron-circle-down"></i></button></div>
<div class=plot-box>
	<button class="reveal btn btn-secondary" onclick="toggle_display('eff_plots')">Show <i class="fa fa-chevron-circle-down"></i></button> Efficiency Plots 
	{% if files %}
		<div class="content_section" id="eff_plots" style="display: none; margin: 5px;">
			{% for year, effi_files in files.items() %}
				{% for filename in effi_files['Efficiency'] %}
					{% set url = url_for('fitter.show_image', filename=filename) %}
					<a href="{{ url }}" target="_blank" rel="noopener noreferrer"><img src="{{ url }}" width="24.5%"/><a/>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}
</div>


<div class=plot-box>
	<button class="reveal btn btn-secondary" onclick="toggle_display('sig_plots')">Show <i class="fa fa-chevron-circle-down"></i></button> Signal Plots
	{% if files %}
		<div class="content_section" id="sig_plots" style="display: none; margin: 5px;">
			{% for year, effi_files in files.items() %}
				{% for filename in effi_files['SignalFits'] %}
					{% set url = url_for('fitter.show_image', filename=filename) %}
					<a href="{{ url }}" target="_blank" rel="noopener noreferrer"><img src="{{ url }}" width="24.5%"/><a/>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}
</div>

{% endblock %}
